/* Display inline */
a.inline {
    background-color: red;
    color: black;
}

/* Display block */
h1,
p {
    background-color: aqua;
}

/* Display inlineblock */
.inlineblock {
    color: white;
    background-color: blue;
    display: inline-block;
    width: 300px;
    height: 200px;
}

/* Display none */
h2 {
    display: none;
}