body {
    background-color: #FAFAFA;
}

div {
    width: 200px;
    height: 200px;
    margin: 50px auto;
}

/* Box Shadow */
.satu {
    background-color: aqua;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Optional Value */
.dua {
    background-color: lightblue;
    box-shadow: 0 30px 5px -20px rgba(0, 0, 0, 0.3);
}

.tiga {
    background-color: lightcoral;
    box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Multiple Shadow */
.empat {
    background-color: lightgreen;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 -5px 10px rgba(0, 0, 0, 0.2);
}

/* Test Box Shadow in website */
.lima {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.lima:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}